.bt_align {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.inpStyle {
  background: #e8e8e8;
  border: none;
  width: 35px;
  height: 30px;
  text-align: center;
  margin: 0;
}
