.App {
  text-align: center;
}
body {
  font-family:
  'nanumsquare';
}
.black-nav {
  background: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}
div {
  box-sizing: border-box;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*text area*/
* {
  margin: 0 auto;
  padding: 0;
}
.sale {
  background-color: #ededee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemWrap {
  width: 80%;
  margin: 50px 0;
}
.items {
  height: 600px;
  width: 1200px;
  min-width: 1080px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
input {
  width: 20px;
}
.cart {
  background-color: white;
  width: 1200px;
  padding: 30px;
  text-align: center;
}
.cart_list {
  display: flex;
}


.bt_align {
  width: "100%";
  display: "flex";
  flex-direction: "row";
  align-items: "center";
  justify-content: "space-between";
}